ul .region-item {
  margin: 0;
  padding: 4px;
}

ul.region-item li {
  display: inline;
  margin-right: 5px;
  padding: 3px;
}

.country-item,
.country-item-active {
  width: 150px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
}

.country-name {
  font-weight: bold;
}

.country-item-active {
  background: #bdbdd2;
}

.countries-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-width: 480px;
}

th {
  padding: 10px 20px;
  background: #56433d;
  color: #f9c941;
  border-right: 2px solid;
  font-size: 0.9em;
}
th:first-child {
  text-align: left;
}
th:last-child {
  border-right: none;
}
td {
  vertical-align: middle;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border-top: 2px solid #56433d;
  border-bottom: 2px solid #56433d;
  border-right: 2px solid #56433d;
}
td:first-child {
  border-left: 2px solid #56433d;
}
td:nth-child(2) {
  text-align: left;
}

.region-btn-active {
  background: #00c4ff;
  width: 120px;
  height: 40px;
  outline: none;
}

img {
  width: 70px;
  height: 50px;
}

.region-btn {
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-radius: 0;
  outline: none;
}

.btn-default {
  cursor: pointer;
  width: 150px;
  height: 25px;
  border-radius: 0;
  background: #b8c6ca;
  margin: 10px;
}

.toolbar {
  display: flex;
  justify-content: center;
}
